{% extends "base.html" %} {% block title %}User Login{% endblock %} {% block
extra_styles %}
<link rel="stylesheet" href="/static/css/user.css" />
{% endblock %} {% block content %}
<div class="login-container">
  <div class="login-card">
    <div class="flex-col-center">
      <div class="circle-container mb-2">
        <div class="icon-container">
          <i class="fa-solid fa-check"></i>
        </div>
      </div>
      <h1 class="primary-heading pb-3 text-center">
        Verification Successful !
      </h1>
      <div class="flex-center g-3">
        <div class="card flex-col-center g-2">
          <p class="secondary-para">Status</p>
          <h6 class="primary-small-heading">Connected</h6>
        </div>
        <div class="card flex-col-center g-2">
          <p class="secondary-para">Internet Speed</p>
          <h6 class="primary-small-heading">98.4 Mbps</h6>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
