<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/user.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="login-container">
      <div class="login-card">
        <div class="flex-col-center">
          <div class="circle-container mb-2">
            <div class="icon-container">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
          <h1 class="primary-heading pb-3 text-center">Verification Successful !</h1> 
          <div class="flex-center g-3">
            <div class="card flex-col-center g-2">
              <p class="secondary-para">Status</p>
              <h6 class="primary-small-heading">Connected</h6>
            </div>
            <div class="card flex-col-center g-2">
              <p class="secondary-para">Internet Speed</p>
              <h6 class="primary-small-heading">98.4 Mbps</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
